<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'Canvas'"
        (click)="selectTab('Canvas')"
        style="cursor: pointer"
        >Draw</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'Tab2'"
        (click)="selectTab('Tab2')"
        style="cursor: pointer"
        >Select Style</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div
      class="tab-pane fade"
      [class.show]="activeTab === 'Canvas'"
      [class.active]="activeTab === 'Canvas'"
    >
      <div style="text-align: center">
        <p>Canvas Drawing</p>
        <div style="margin-bottom: 20px;">
          <button class="btn btn-outline-light" (click)="setColor('black')">
            <i class="fas fa-pencil-alt" style="color: black"></i>
          </button>
          <button class="btn btn-outline-light" (click)="setColor('red')">
            <i class="fas fa-pencil-alt" style="color: red"></i>
          </button>
          <button class="btn btn-outline-light" (click)="setColor('blue')">
            <i class="fas fa-pencil-alt" style="color: blue"></i>
          </button>
          <button (click)="clearCanvas()">Clear</button>
        </div>
        <canvas
          #canvas
          width="800"
          height="400"
          style="border: 1px solid black"
          (mousedown)="mousedown($event)"
          (mouseup)="mouseup()"
          (mousemove)="mousemove($event)"
        ></canvas>
      </div>
    </div>
    <div
      class="tab-pane fade"
      [class.show]="activeTab === 'Tab2'"
      [class.active]="activeTab === 'Tab2'"
    >
      <div style="text-align: center; width: 70%; margin: 0 auto">
        <p>Text Style Selector</p>
        <div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <input
                type="text"
                [(ngModel)]="textInput"
                class="form-control ml-md-10"
                placeholder="Type your name here"
                style="height: 100%; padding: 10px; margin-left: 20px"
              />
            </div>
            <div class="col-md-4 text-md-right mt-2 mt-md-0">
              <button
                class="btn btn-outline-light mr-2"
                (click)="setColor1('black')"
                style="margin-left: 30px"
              >
                <i class="fas fa-pencil-alt" style="color: black"></i>
              </button>
              <button
                class="btn btn-outline-light mr-2"
                (click)="setColor1('red')"
              >
                <i class="fas fa-pencil-alt" style="color: red"></i>
              </button>
              <button class="btn btn-outline-light" (click)="setColor1('blue')">
                <i class="fas fa-pencil-alt" style="color: blue"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          @for (font of fonts; track font) {
          <div class="col-md-6 mb-3">
            <button
              class="btn btn-light btn-block rounded border"
              [style.font-family]="font"
              [style.color]="selectedColor"
              style="width: 90%; padding: 20px 0px; font-size: 28px;"
            >
              {{ textInput ? textInput : "Type your name" }}
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>